
body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}



/* =================
Typografi
=================== */

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: rgb(23, 67, 78);
    font-size: 30px;
    margin: 0px;
}

.subtitle{
    font-weight: 700;
    color: rgb(73, 187, 240);
    font-size: 11px;
    margin: 0;
}

/* =================
Layout
=================== */

.container {
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
}

.container-nav{
    display: flex;
    justify-content: space-between;
}

header{
    background: #f8f8f8;
    padding: 35px;
}

@media (max-width: 712px){
    .container-nav{
        flex-direction: column;
    }

    header{
        text-align: center;
    }

}


/* =================
Navigation
=================== */


nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

nav li{
    margin-left: 32px;
}

nav a{
    text-decoration: none;
    color: #707070;
    font-weight: 700;
    

}

nav a:hover,
nav a:focus{
    color: #1792d2;
}

.current-page{
    border-bottom: 1px solid #707070;
}

.current-page:hover{
    color: #707070;
}

@media (max-width: 712px){
    nav ul{
        flex-direction: column;
    }

    nav li{
        margin: 10px;
    }
}